* {
	xfg:    #F8F8F2;
	xbg:    #22242e;
	x0:     #000000;
	x8:     #4D4D4D;
	x1:     #FF5555;
	x9:     #FF6E67;
	x2:     #50FA7B;
	x10:    #5AF78E;
	x3:     #F1FA8C;
	x11:    #F4F99D;
	x4:     #BD93F9;
	x12:    #CAA9FA;
	x5:     #FF79C6;
	x13:    #FF92D0;
	x6:     #8BE9FD;
	x14:    #9AEDFE;
	x7:     #BFBFBF;
	x15:    #E6E6E6;
}
